@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@font-face{
    font-family: "Kristen";
    src: url('./fonts/ITCKRIST.ttf');
}
@font-face{
    font-family: "California";
    src: url('./fonts/CALIFI.TTF');
}
@font-face{
    font-family: "Cambria";
    src: url('./fonts/CAMBRIAZ.TTF');
}
@font-face{
    font-family: "Nirmala";
    src: url('./fonts/Nirmala.ttf');
}
@font-face{
    font-family: "Dejavu";
    src: url('./fonts/DejaVuSans.ttf');
}

body{
    margin: 0;
    padding: 0;
    background-image: url('./1.png');
    background-repeat: no-repeat;
    height: 655px;
}
#video{
    background-image: url('./2.png');
    background-repeat: no-repeat;
}
aside{
    background-image: url('./3.png');
    background-repeat: no-repeat;
}
.font-dej{
    font-family: Dejavu;
    color: #673de4;
}
.font-nir{
    font-family: Nirmala;
    color: #673de4;
}
.font-cam{
    color: #673de4;
    font-family: Cambria;
}
.font-cal{
    font-family: California;
    color: #673de4;
}
.font-kris{
    font-family: Kristen;
    color: #673de4;
}
html{
    scroll-behavior: smooth;
}
.pt-200{
    padding-top: 200px;
}
.pt-100{
    padding-top: 100px;
}
.pt-150{
    padding-top: 150px;
}
.pt-175{
    padding-top: 175px;
}
.pl-100{
    padding-left: 100px;
}
.pr-100{
    padding-right: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
.pb-150{
    padding-bottom: 150px;
}
.pb-175{
    padding-bottom: 175px;
}
.pb-200{
    padding-bottom: 200px;
}
.mt-100{
    margin-top: 100px;
}
.mt-200{
    margin-top: 200px;
}
.mb-200{
    margin-bottom: 200px;
}
.ml-100{
    margin-right: 100px;
}
.mr-100{
    margin-right: 100px;
}
